
body {
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
}

.section {
	width: 260px;
}

@media screen and (min-width: 600px) {
	.section {
		width: 515px;
	}
}

@media screen and (min-width: 820px) {
	.section {
		width: 775px;
	}
}

.section {
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  margin-left: auto;
	  margin-right: auto;
}

.item {
	margin: 3px;
	box-sizing: border-box;
	font-weight: normal;
	/*margin: 5px;*/
	width: 250px;
	height: 250px;
	/*display: inline-block;*/
	position: relative;
	background-size: cover;
	display: block;
	text-decoration: none;
	color: inherit;
}

.item:before {
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: black;
}
.item:hover:before {
	opacity: 0.7;
}

.item p {
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	transform: translate(0px, 20px);
	opacity: 0;
	z-index: 11;
	color: white;
	position: absolute;
	left: 7px;
	top: 7px;
	right: 7px;
	bottom: 7px;
	margin: 0;
	font-weight: bold;
	font-size: small;
}
.item:hover p {
	opacity: 1;
	transform: translate(0);
}

.item h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 6px;
	/*padding-top: 20px;*/
	font-size: small;
	text-align: left;
	text-transform: uppercase;
	color: white;
	z-index: 12;
}

.section {
	margin-top: 6px;
	margin-bottom: 6px;
}

/*.zebra-tile h1 {
	text-shadow: -1px 1px 0px rgba(0,0,0,0.5);
}

.light-tile h1 {
	color: black;
}*/

.zebra-tile h1, .light-tile h1 {
	/*background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));*/
	background-color: rgba(20,20,20,0.35);
}

.section:first-child h1 {
	
}

#header {
	text-align: center;
}

#links {
	margin-top: 0;
}

#links a:link, #links a:visited {
	color: inherit;
	display: inline-block;
	margin: 4px;
	opacity: 0.5;
}

#links a:hover {
	opacity: 1;
}

#header h1 {
	display: inline-block;
}

#header h1 img {
	width: 70%;
	margin-top: 1em;
}

@media screen and (max-width: 600px) {
	#header h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 450px) {
	#header h1 {
		font-size: 20px;
	}
}
