{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Nate Parrott</title>
<script src='http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js'></script>
{% endblock %}

{% block body %}

<div id='header'>
	<h1><img alt="Nate Parrott" src='/static/nate.gif'/></h1>
	<p id='links'>
			<a href='https://twitter.com/nateparrott'><span class='fa fa-twitter'></span></a>
			<a href='https://github.com/nate-parrott'><span class='fa fa-github'></span></a>
			<a href='https://dribbble.com/nateparrott'><span class='fa fa-dribbble'></span></a>
			<a href='mailto:nate@nateparrott.com'><span class='fa fa-envelope'></span></a>
	</p>
</div>

<div id='sections'>
	{% for section in sections %}
	<div class='section'>
		{% for item in section %}
			<a href="{{ item['url'] }}" class="item {{ item['classes'] }}" style="{{ item['style'] }}">
				{{ item.preview_html_for_tile | safe }}
			</a>
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}
